body {
  background-image: url('/carrot/img/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

button {
  cursor: pointer;
  outline: none;
  background-color: beige;
  border-radius: 20%;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.play {
  margin: auto;
}
.item {
  position: absolute;
  cursor: pointer;
}

.console {
  position: relative;
  padding-top: 50px;
}

.gameArea {
  position: relative;
  margin-top: 50px;
}

.timer {
  margin: auto;
  margin-bottom: 5px;
  display: block;
  background-color: white;
  border-color: black;
  border: solid;
  border-radius: 10%;
  height: 30px;
  width: 100px;
  text-align: center;
  align-items: center;
  line-height: 30px;
}

.counter {
  line-height: 30px;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: rgb(193, 132, 28);
  color: aliceblue;
  border-color: black;
  border: solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.result {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.resultPopup {
  position: relative;
  text-align: center;
  background: rgb(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 300px;
  height: 100px;
  width: 300px;
  border-radius: 20px;
}

.resultValue {
  font-size: xx-large;
  font-weight: bold;
  display: block;
  color: white;
  opacity: initial;
  margin: auto;
}
