/* reference */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  background: url('/carrot/img/background.png') center/cover;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.game__header {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: blanchedalmond;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  margin-top: 7px;
  background-color: white;
  text-align: center;
  border: 4px solid black;
  border-radius: 20px;
  font-size: 32px;
  visibility: hidden;
}

.game__score {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  background-color: darkseagreen;
  text-align: center;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 42px;
  color: white;
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.pop-up {
  display: block;
  width: 400px;
  height: 140px;
  margin: auto;
  padding: 20px;
  background-color: #00000080;
  border-radius: 20px;
  color: white;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: blanchedalmond;
  border: 4px solid black;
  border-radius: 20px;
}

.pop-up__message {
  display: block;
  color: white;
  font-size: 24px;
}

/* me */

body {
  /* background-image: url('/carrot/img/background.png'); */
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.play {
  margin: auto;
}

.playBtn {
  cursor: pointer;
  outline: none;
  background-color: beige;
  border-radius: 20%;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.replayBtn {
  cursor: pointer;
  outline: none;
  background-color: beige;
  border-radius: 20%;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  position: absolute;
  cursor: pointer;
}

.console {
  position: relative;
  padding-top: 50px;
}

.gameArea {
  position: relative;
  margin-top: 50px;
}

.timer {
  margin: auto;
  margin-bottom: 5px;
  display: block;
  background-color: white;
  border-color: black;
  border: solid;
  border-radius: 10%;
  height: 30px;
  width: 100px;
  text-align: center;
  align-items: center;
  line-height: 30px;
}

.counter {
  line-height: 30px;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: rgb(193, 132, 28);
  color: aliceblue;
  border-color: black;
  border: solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.result {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.resultPopup {
  position: relative;
  text-align: center;
  background: rgb(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 300px;
  height: 100px;
  width: 300px;
  border-radius: 20px;
}

.resultValue {
  font-size: xx-large;
  font-weight: bold;
  display: block;
  color: white;
  opacity: initial;
  margin: auto;
}
